<!DOCTYPE html>
<html lang="en">
 <%- include('./partials/header.ejs') %> 
<body>
    <ol>
        <% for(var person of message) { %>
            <li>
                <ul>
                    <li>PhoneNumber : <%= person["PhoneNumber"] %> </li>
                    <li>Name :<%= person["Name"] %> </li>
                    <li>AadharNumber :<%= person["AadharNumber"] %> </li>
                    <li>Status : <%= person["Status"] %> </li>
                    <li>Money: <%= person["Money"] %> </li>
                    <br><br>
                </ul>
            </li>
        <% } %>
    </ol>
</body>
</html>

