<!DOCTYPE html>
<html>
  <%- include('./partials/header.ejs') %> 

<body>

<ul>
  <li id="one"><a href="/admin/<%= username%>/GetAllCustomers">Get All Customers</a></li>
  <li id="two"><a href="/admin/<%= username%>/GetCustomerByPhoneNumber">Get Customer By PhoneNumber</a></li>
  <li id="three"><a href="/admin/<%= username%>/GetAllServices">Get All services by Customers</a></li>
  <li id="four"><a href="/admin/<%= username%>/GetAllTransactions">Get All Transactions by Customers</a></li>
</ul>

  
</body>
</html>
